#navigation {
  position: relative;
  width: 230px;
  letter-spacing: 2px;
  height: 100vh;

  .left_menu {
    position: absolute;
    padding: 15px;
    top: 0;
    bottom: 0;
    background-color: #6495ed;
    width: 200px;
    color: #fff;
    text-transform: uppercase;
    font-size: 0.9rem;

    a {
      display: flex;
      align-items: center;
      color: #fff;
      text-decoration: none;

      span {
        margin-left: 10px;
      }
    }

    .bottom_menu {
      position: absolute;
      bottom: 0;

      .num {
        border-radius: 50%;
        width: 17px;
        height: 17px;
        padding: 2px;
        background: #fff;
        color: #666;
        text-align: center;
      }
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        margin: 20px 0;
        width: 200px;
      }

      li.alert {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}

[class^="icon"] {
  width: 50px;
  height: 50px;
  position: relative;
  top: 15px;
  margin-right: 10px;
  fill: #fff;
}
