body {
  margin: 0;
  font-family: Tahoma, Arial, "Helvetica Neue", Helvetica, sans-serif;

  .flexbox {
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    overflow: hidden;
  }

  .col {
    flex: 1;
  }

  .material {
    fill: #fff;
  }

  #main_page {
    width: calc(100% - 230px);

    .main_content {
      padding: 25px;
      min-height: 500px;

      .line {
        position: relative;
        border-bottom: 1px solid #aaa;
        height: 10px;
        margin-bottom: 20px;

        h1 {
          position: absolute;
          margin: 0;
          padding-right: 20px;
          top: 0;
          left: 0;
          font-size: 0.9rem;
          color: #6495ed;
          background-color: #fff;
        }
      }
    }
  }
}
